# Class Files #
*.class

# Temporary Files #
.mtj.tmp/

# Eclipse Files #
/.settings
/.classpath
/.project

# IntelliJ IDEA Files #
.idea
*.iml
*.ipr
*.iws

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*